$title-font: 'Playfair Display', serif;
$main-font: 'Open Sans', sans-serif;

$primary: #1D1D35;
$secondary: #A65276;
$warning: #3C2670;
$danger: #F83F6B;
$light-grey: #FCFCFC;
$bg-grey: #EEEEEE;

$font-xs: 12px;
$font-small: 16px;
$font-medium: 20px;
$font-large: 24px;
$font-xl: 28px;

$padding: 3% 4%

/* $theme-colors: (
  "primary": $primary,
  "danger": $danger
); */
